<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The E-SLAM BOOK</title>
 

</head>

<body> 
    <form method="GET" action="/log-in">
 <button type="submit">Sign In</button>
</form>

</body>
</html>